*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
*.swp
.DS_Store
/.bundle
/vendor/bundle
/log/*
/public/*
/tmp/*
/db/*.sqlite*
/public/system
/public/uploads
/coverage/
/config/config.yml
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/.yardoc
