/* Skin */
.static-title {border-style: solid; border-color: #8d8d8d transparent #383838 transparent; background: image-url("bg/static_title.png") repeat-x 0 0}
.static-title > h2 {text-indent:-999em; color: #FFFFFF; background: image-url("about_sprite.png") no-repeat 0 0}
.video-container {background: #d9d9d9; border-color: #ffffff; border-style: solid; background: image-url("bg/video_container.png") repeat 0 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 0 0 3px #5C5D5C;
  -webkit-box-shadow: 0 0 0 3px #5C5D5C;
  box-shadow: 0 0 0 3px #5C5D5C;
}
.static-sec,
.long-title {border-style: solid; border-color: #565756}
.short-title,
.long-title-container {background: image-url("about_sprite.png") no-repeat; text-indent: -999em}
.short-title.about {background-position: 0 -21px}
.short-title.people {background-position: 0 -42px}
.short-title.funding {background-position: 0 -63px}
.short-title.contact {background-position: 0 -86px}
.long-title.saying > .long-title-container {background-position: 0 -112px}
.long-title.testimonial > .long-title-container {background-position: 0 -138px}
.long-title.press > .long-title-container {background-position: 0 -163px}
.static-sec > p {color: #d9d9d9; text-shadow: #111111 1px 1px 1px}
.static-sec > p > a {color: #d9d9d9; font-weight: bold}
.static-sec > p > a:hover {text-decoration:none; color:#bfbfbf;}
.cite-slide-left-arrow,
.cite-slide-right-arrow {background-image: image-url("bg/sprites/cites_arrows.png"); background-repeat: no-repeat}
.cite-slide-left-arrow {background-position:0 -21px}
.cite-slide-left-arrow:hover {background-position:0 -42px}
.cite-slide-left-arrow.disabled,
.cite-slide-left-arrow.disabled:hover {background-position:0 0}
.cite-slide-right-arrow {background-position:-16px -21px}
.cite-slide-right-arrow:hover {background-position:-16px -42px}
.cite-slide-right-arrow.disabled,
.cite-slide-right-arrow.disabled:hover {background-position:-16px 0px}
.cite-text {color: #ffffff}
.cite-author {color: #010101}
.cite-author a {color: #010101; text-decoration:underline}
.cite-author a:hover {color: #3e3e3e; text-decoration:underline}

.welcome {background: transparent image-url("bg/welcome-bg.jpg") repeat-x 0 0; border-style: solid; border-color: #f5f5f5 transparent #666666;
    -moz-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3);
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, .3)
}
.welcome > p {color: #404040; text-shadow: 0 1px 0px #fff}
.welcome > p > span {}
.welcome > p > span > a {color: #6b6b13}
.welcome > .close-message {background: image-url("bg/close-welcome.png") 0 0 no-repeat}
.welcome > .close-message:hover {background-position: 0px bottom}

.welcome > .actions > li > a {background: image-url("bg/sprites/box_actions.png") no-repeat}
.welcome > .actions > li > .facebook {background-position: 0px 0px}
.welcome > .actions > li > .twitter {background-position: -24px 0px}
.welcome > .actions > li > .facebook:hover {background-position: 0px -25px}
.welcome > .actions > li > .twitter:hover {background-position: -24px -25px}

.network-links li a {background: image-url("bg/sprites/link_networks.png") no-repeat}
.network-links .twitter {background-position: 0px 0px}
.network-links .facebook {background-position: -28px 0px}

.network-links .twitter:hover {background-position: 0px -26px}
.network-links .facebook:hover {background-position: -28px -26px}

.isotope,
.isotope .isotope-item {-webkit-transition-duration: 0.8s; -moz-transition-duration: 0.8s; transition-duration: 0.8s}
.isotope {-webkit-transition-property: height, width; -moz-transition-property: height, width; transition-property: height, width}
.isotope .isotope-item {-webkit-transition-property: -webkit-transform, opacity; -moz-transition-property: -moz-transform, opacity; transition-property: transform, opacity}
