<div class="widget-voice medium-list default-size widget-all-voices">
  <div class="voice-header">
    <div class="all-voices-title">
      <h1><span class="hide-text">CrowdVoice</span></h1>
    </div>
    <div class="all-voices-description">
      <h2>Explore crowd sourced topics from around the world</h2>
    </div>
    <div class="all-voices-social">
      <span>Share this widget</span>
      <ul class="voice-social right">
        <li><a href="http://twitter.com/crowdvoice" class="hide-text widget-icon twitter" target="_blank" title="Twitter">Twitter</a></li>
        <li><a href="http://facebook.com/crowdvoice" class="hide-text widget-icon facebook" target="_blank" title="Facebook">Facebook</a></li>
        <li><a href="http://crowdvoice.local:3000/.rss" class="hide-text widget-icon email" target="_blank" title="RSS">Email</a></li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="voice-content">
    <ul class="voice-posts">
      <li>
        <a href="http://crowdvoice.local:3000/opposition-protests-in-iran" target="_blank" title="Opposition Protests in Iran">
          <div class="voice-thumb left"><img width="54" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" alt="Army Beats Protesters While Dispersing Cairo Rally - NYTimes.com"></div>
          <span>Opposition Protests in Iran</span>
          <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/kyrgyzstans-interim-government-unable-to-squelch-ethnic-violence" target="_blank" title="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence">
        <div class="voice-thumb left"><img width="54" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" alt="Army Beats Protesters While Dispersing Cairo Rally - NYTimes.com"></div>
        <span>Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence</span>
        <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/opposition-protests-in-iran" target="_blank" title="Opposition Protests in Iran">
          <div class="voice-thumb left"><img width="54" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" alt="Army Beats Protesters While Dispersing Cairo Rally - NYTimes.com"></div>
          <span>Opposition Protests in Iran</span>
          <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/kyrgyzstans-interim-government-unable-to-squelch-ethnic-violence" target="_blank" title="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence">
        <div class="voice-thumb left"><img width="54" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" alt="Army Beats Protesters While Dispersing Cairo Rally - NYTimes.com"></div>
        <span>Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence</span>
        <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/opposition-protests-in-iran" target="_blank" title="Opposition Protests in Iran">
          <div class="voice-thumb left"><img width="54" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" alt="Army Beats Protesters While Dispersing Cairo Rally - NYTimes.com"></div>
          <span>Opposition Protests in Iran</span>
          <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/kyrgyzstans-interim-government-unable-to-squelch-ethnic-violence" target="_blank" title="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence">
        <div class="voice-thumb left"><img alt="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence" height="51" src="/uploads/voice/background/2/thumb_aleqm5hg4wcsmeemqkvzsmzxx2mvwvonhw.jpg" width="54"></div>
        <span>Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence</span>
        <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/opposition-protests-in-iran" target="_blank" title="Opposition Protests in Iran">
          <div class="voice-thumb left"><img alt="Opposition Protests in Iran" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" width="54"></div>
          <span>Opposition Protests in Iran</span>
          <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/kyrgyzstans-interim-government-unable-to-squelch-ethnic-violence" target="_blank" title="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence">
        <div class="voice-thumb left"><img alt="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" width="54"></div>
        <span>Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence</span>
        <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/opposition-protests-in-iran" target="_blank" title="Opposition Protests in Iran">
          <div class="voice-thumb left"><img alt="Opposition Protests in Iran" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" width="54"></div>
          <span>Opposition Protests in Iran</span>
          <span class="clear"></span>
        </a>
      </li>
      <li>
        <a href="http://crowdvoice.local:3000/kyrgyzstans-interim-government-unable-to-squelch-ethnic-violence" target="_blank" title="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence">
        <div class="voice-thumb left"><img alt="Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence" height="51" src="https://crowdvoice-production.s3.amazonaws.com/uploads/post/image/24366/widget_thumb_09moth_metjournal-moth.jpg" width="54"></div>
        <span>Kyrgyzstan's Interim Government Unable to Squelch Ethnic Violence</span>
        <span class="clear"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="voice-footer">
    <div>
    <a href="http://crowdvoice.local:3000/" class="hide-text see-more widget-icon" target="_top" title="More Topics">More Topics</a>
    </div>
  </div>
</div>