<% if @scope_this %>
  <div class="voice-footer">
    <%= link_to "See More", (@scope_this ? @voice : root_url), :title => "See More", :class => "hide-text see-more widget-icon", :target => "_top" %>
  </div>
<% else %>
  <div class="voice-footer">
    <div>
      <%= link_to "More Topics", (@scope_this ? @voice : root_url), :title => "More Topics", :class => "hide-text see-more widget-icon", :target => "_top" %>
    </div>
  </div>
<% end %>