header {position: fixed; width: 100%; z-index: 1; top: 2}
.hgroup-theme-image {border-bottom-width: 1px; float: left; width: 100%}
.hgroup-current-image {border-bottom-width: 0px; float: left; width: 100%}
.gaza-header.top {background-position: top; height: 63px; width: 267px; float: right}
.gaza-header.bottom {background-position: -1px bottom}
.logo-header {float:right; margin-top:8px; margin-right:39px}
.logo-container {display:block; clear:both; overflow:hidden; width:100%}
.clear {clear: both}
.main-header {min-width:800px;}
.panel-container{border-right-width: 1px;}
hgroup {float: left; width: 267px; height: 63px; border-right-width: 1px; position:fixed; z-index: 5; overflow: hidden}/* padding: 8px 0 0 39px; width:228px */
.crowdvoice-logo {float: left; width: 169px; height: 25px; margin-right:4px}
.crowdvoice-logo.gaza {float: left; width: 176px; height: 25px; margin-right:4px}
.crowdvoice-about {float: left; height: 18px; width: 18px; margin-top: 3px}
.crowdvoice-slogan {float: left; font-size: 14px; line-height: 1em; padding: 5px 0 9px}
.theme-image {width: 100%; height: 3px}/* Update:ADD height atrribute:63px*/
.theme-image > .top-line.gaza {height: 3px; border-width: 0}
.theme-image > .top-line {height: 1px; border-width: 1px 0}
.panel-padding {margin-left: 268px; clear:both}
.voice-info {border-bottom-width: 1px; padding-top:10px; float: left; width: 100%;}/* Update:ADD height atrribute, padding-top atrribute:10px*/
.voice-title {font-size: 22px; line-height:32px; float: left; padding:0px 20px; max-width:50%}
.voice-info-tools {float: left}
.info-tool {float: left}
.blog-widget-title {font-size: 16px; line-height: 1; display: block; padding:0 7px; width: 221px}
.blog-widget-subtitle {font-size: 13px; display: block; line-height: 1; margin-top: 10px; border-top-width: 1px; padding: 13px 7px}
.blog-widget-label {float: left; font-size: 13px}
.blog-widget-subtitle + .blog-widget-label,
.blog-widget-label:first-child {padding-left: 7px} 
.blog-widget-label + .blog-widget-label {padding-left: 20px}
p > .blog-widget-label {padding: 15px 0}
.widget-height, .widget-scope,
.description-checkbox {margin-right: 6px}
.blog-widget-textarea {width: 197px; border-width:1px; padding: 7px 11px; overflow: hidden; height: 120px; font-size: 11px; line-height: 15px; margin-left: 7px}
.image-tip textarea {margin-top:4px; margin-bottom:5px; width: 210px; border-width:1px; padding: 7px 11px; overflow: hidden; height: 40px; font-size: 11px; line-height: 15px; margin-left: 7px}
.image-tip input {margin-top:4px; width: 210px; border-width:1px; padding: 7px 11px; overflow: hidden; height: 15px; font-size: 12px; line-height: 15px; margin-left: 7px}
.sweeper {overflow: hidden; clear: both;}
.widget {position: relative} 
.tooltip {top: 25px; z-index: 100; display:none;}
.info-tool + .info-tool {margin-left: 3px}
.info-tool-link {width: 25px; height: 25px; float: left}
.info-tool.facebook-like-button {margin-top: 3px; margin-left: 7px; width:60px;}
.voice-subtitle {font-size: 13px; line-height: 1em; clear: left; float: left; padding: 8px 288px 16px 20px}
.sponsor-padding {padding-right: 440px}
.voice-subtitle > em {padding: 4px 10px 0 0; line-height: 1.3}
.more-button {font-size: 11px; border-width: 0px}
.more-button > span {text-align: center; padding:1px 3px 0; border-width: 2px}
.post-and-actions {border-width: 1px 0; padding-top: 10px; padding-bottom: 9px; float: left; width: 100%}/* 39px padding left without sidebar*/
.post {position: relative; float: left; margin-left: 10px}
.post > .post-paceholder {position: absolute; font-size: 15px; line-height: 1em; left: 11px; top: 11px}
.post > .post-paceholder > span {position: relative; z-index: 4}
.post > .post-paceholder > .cover {position: absolute; z-index: 4; width:30px; height:20px}
.post > .post-paceholder > input[type=file] {margin-left: -30px; position: absolute; z-index: 2; width: 120px;}
.post > .post-type {position: absolute; right: 86px; top: 8px}
.post-type > .media {float: left; margin-right: 5px; position: relative}
.post-type > .media > .media-type {display: block; width: 22px; height: 25px}
.post-type > .media > .tooltip {top: 24px}
.tool-link .media-type-info {width: 204px; left:-9px}
.tool-link .media-type-info .media-type-title {width: 188px}
.tooltip {position: absolute; left: 50%}
.tooltip > .tooltip-positioner {position: relative; top: 0; left: -50%}
.tooltip-positioner > .tooltip-arrow {position: absolute; width: 16px; height: 12px; top: 0; left: 50%; z-index: 40}
.tooltip-positioner > .tooltip-arrow > span {position: relative; width: 16px; height: 12px; top: 0; left: -50%; display: block}
.tooltip-positioner.notice {display:none}
.tooltip-positioner.carousel {display:none}
.media-type-info  {position: relative; top: 10px; left: 0; border-width: 2px; padding: 15px 11px; z-index: 30px}/*overflow:hidden; */
.media-type-title {font-size: 15px; display: block; padding: 0 7px; width: 233px; line-height: 22px}
.media-type-subtitle {font-size: 13px; display: block; line-height: 1; margin-top: 9px; border-top-width: 1px; padding: 13px 7px 0}
.media-type-link {font-size: 13px; display: block; line-height: 1; padding: 6px 7px 0}
.media-type-notice {font-size: 12px; display: block; line-height: 1; padding: 6px 7px 0}
.media-type-info h3 {width: 206px}
.media-type-info .description-link {font-size:12px; margin:5px 0px}
.media-type-info .carousel-image {width: 206px; overflow: hidden; margin: 4px 0px}
.media-type-info .carousel-image > img {}
.media-type-info .carousel-arrows {overflow: hidden}
.media-type-info .carousel-arrows >  {overflow: hidden}
.media-type-info .carousel-arrows > .left-arrow {width: 17px; height: 17px; display: block; float: left; margin-right: 5px; margin-top: 2px}
.media-type-info .carousel-arrows > .right-arrow {width: 17px; height: 17px; display: block; float: left; margin-right: 5px; margin-top: 2px}
.media-type-info .carousel-arrows > .carousel-counter {font-size: 10px; float: left; padding-top: 5px}
.media-type-info .link-textarea {width: 190px; border-width:1px; overflow: hidden; height: 70px; font-size: 11px; line-height: 15px; padding: 7px}
.tooltip-label {font-size: 13px; display: block; line-height: 1; padding: 7px 7px 0}

.post-button > .tooltip {position: absolute; left: 50%; z-index:7; top: 31px;}
.post-button > .tooltip > .tooltip-positioner {position: relative; top: 0; left: -50%}
.post-button > .tooltip > .tooltip-positioner > .tooltip-arrow {position: absolute; width: 16px; height: 12px; top: 0; left: 50%; z-index: 40}
.post-button > .tooltip > .tooltip-positioner > .tooltip-arrow > span {position: relative; width: 16px; height: 12px; top: 0; left: -50%; display: block}
.post-button > .tooltip > .tooltip-positioner > .media-type-info {position: relative; top: 10px; left: -65px; width:185px; border-width: 2px; padding: 15px 11px; z-index: 30px}
.post-button > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {font-size: 15px; display: block; padding: 0 7px; width: 233px; line-height: 22px}
.post-button > .tooltip > .tooltip-positioner > .media-type-info > p {font-size: 15px; display: block; padding: 0 7px; font-weight: bold; line-height: 22px}
.post > input[type='text'] {width: 850px; height: 34px; padding: 0px 105px 0px 11px; font-size: 15px; float: left; border-width: 1px}/* padding: 0px 110px 0px 11px*/
.post > .post-button {float: left; border-width: 1px; position:relative}
.post > .post-button > input[type='submit'] {float: left; font-size: 22px; padding:0 11px; height: 34px; border-width: 2px}
.hiden-input {display: none}
.tooltip.flag-tip{ display:none; top: -34px; left:89%; z-index: 99}
.flag-tip > .tooltip-positioner {}
.flag-tip > .tooltip-positioner > .tooltip-arrow {top: 29px}
.flag-tip > .tooltip-positioner > .tooltip-arrow > span {}
.flag-tip > .tooltip-positioner > .media-type-info {padding: 7px 9px; top: 0px}
.flag-tip > .tooltip-positioner > .media-type-info > .media-type-title  {width: 130px}
.flag-tip > .tooltip-positioner > .media-type-info > .flag-tooltip {text-align:center}
.flag-tip > .tooltip-positioner > .media-type-info > .flag-tooltip > span {}
.tooltip.thumb-tip{ display:none; top: -43px; left:50%; z-index: 99}
.thumb-tip > .tooltip-positioner {}
.thumb-tip > .tooltip-positioner > .tooltip-arrow {top: 29px}
.thumb-tip > .tooltip-positioner > .tooltip-arrow > span {}
.thumb-tip > .tooltip-positioner > .media-type-info {padding: 7px 9px; top: 0px}
.thumb-tip > .tooltip-positioner > .media-type-info > .media-type-title  {width: 122px}
.thumb-tip > .tooltip-positioner > .media-type-info > .flag-tooltip {text-align:center}
.thumb-tip > .tooltip-positioner > .media-type-info > .flag-tooltip > span {}
.bring-up {z-index: 2 !important;}


.filters-and-mode {border-top-width: 1px; padding-top: 5px; padding-bottom:4px; float: left; width: 100%}/* 39px padding left without sidebar*/
.form-right {float: right !important; margin-right:6px}
.filters-and-mode > form,
.filters,
.mode,
.filters > p,
.filters > label,
.mode > p,
.mode > ul,
.mode > ul > .mode-button {float: left}
.mode-button {position:relative}
.mode-button > .tooltip-positioner {left: -30%}
.mode-button > .tooltip > .tooltip-positioner > .tooltip-arrow {left: 50%}
.mode-button > .tooltip > .tooltip-positioner > .media-type-info {padding: 5px 15px 5px 12px; overflow: hidden; left: -90px; padding-bottom: 5px}
.mode-button > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {font-size:17px; padding: 0px; line-height:1.5}
.mode-button.selected > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {width:170px;}
.mode-button.selected > .tooltip > .tooltip-positioner > .media-type-info {left: -55px}
.moderate-tooltip {line-height: 2; font-size: 13px; font-weight: normal;}
.moderate-tooltip > span {font-weight:bold;}
.public > .tooltip > .tooltip-positioner > .media-type-info {left: -62px}
.public .media-type-title {width: 157px}

.filters {padding:5px 0 0 15px}
.filters,
.mode {font-size: 14px}
.filters > p {padding-right: 10px}
.mode > p {padding:5px 10px 0 0}
.filters > label {padding-right: 20px}
.filters > label > input[type='checkbox'] {margin-right: 7px}
.mode-button:first-child {border-width: 1px 0 1px 1px}
.mode-button:first-child + .mode-button {border-width: 1px 1px 1px 0}
.mode-button:first-child > .button {border-width: 1px 0 1px 1px; float: left; padding: 2px}
.mode-button:first-child + .mode-button > .button {border-width: 1px 1px 1px 0; float: left; padding: 2px}
.mode-button > .button > a {padding: 2px 10px 2px; font-size: 13px; line-height: 1; float: left}
.mode-button.selected:first-child > .button {border-width: 1px; padding: 0}
.mode-button.selected:first-child > .button > a {border-width: 1px; padding: 3px 10px 3px 11px}
.mode-button:first-child + .mode-button.selected > .button {border-width: 1px; padding: 0}
.mode-button:first-child + .mode-button.selected > .button > a {border-width: 1px; padding: 4px 11px 3px 10px}

.header-sponsor {position: absolute; top: 0; right: 0; padding-top: 22px; width: 143px; margin-right: 10px; height: 128px; padding-left: 7px}
.header-sponsor > img {margin: 13px auto 0px auto; display: block; max-width:105px}
.header-sponsor > a > img {margin: 13px auto 0px auto; display: block; max-width:105px;}
.header-sponsor > span {font-size: 12px; width: 96px; margin: 15px auto; display: block; padding-left: 9px}
.post-width {float: left; padding-right: 11px}
.voice {width: 268px; height: 100%; position: fixed; top: 63px; z-index: 4; float: left}
.panel-container {float: right; padding-right:5px; width: 263px}

.create-voice {height: 39px; padding: 0px 0px 0px 10px}
.create-voice > ul > li {float: left; position: relative}
.create-voice > ul > .sign-btn {margin:0 5px 0 17px}
.create-voice > ul > li > .button {display: block; font-size: 12px; padding: 4px 12px; border-width: 1px; float: left}
.create-voice > ul > li > .voicelogin {margin-left: 78px}
.create-voice > ul > li > .tooltip {}
.create-voice > ul > li > .tooltip > .tooltip-positioner {left: -30%}
.create-voice > ul > li > .tooltip > .tooltip-positioner > .tooltip-arrow {left: 29%}
.create-voice > ul > li > .tooltip > .tooltip-positioner > .media-type-info {padding: 5px 15px 5px 12px; width: 139px; overflow: hidden}
.create-voice > ul > li > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {float: left; font-size:13px; width: 102px; padding: 0px; line-height:1.5}
.create-voice > ul > li > .tooltip > .tooltip-positioner > .media-type-info > .pencil {width: 29px; height:26px; float: right; margin-top:7px}
.create-voice > .view-video {width: 125px; height: 27px; margin: 0 auto;}

#more_loader_spinner { position: absolute; margin: 2px 0 0 120px; }

/* Side Bar Register/Login */

.user-form {width: 263px; border-width: 1px 0px 0px 0px; display: none;}
.register-sec {overflow: hidden}
.login-sec {overflow: hidden}
.form-label {width: 68px}
.forgot-pass {height:20px !important}
.register-login {width: 240px; margin: 5px auto}
.register-login > tbody > tr {margin-bottom: 10px; height: 42px}
.register-login > tbody > .error {height: 14px}
.register-login > tbody > .error > td > span {font-size: 13px}
.register-login > tbody > tr > td > label {font-size: 12px; line-height: 11px}
.register-login > tbody > tr > td > input {width: 162px; height: 27px; border-width: 1px 0px 0px 0px; font-size: 12px; padding: 0px 5px}
.register-login > tbody > tr > td > .error { border-width: 2px; border-style: solid; width: 158px; height: 23px;}
.user-form > ul {margin: 8px 0px 21px 78px; display: block; float: left}
.user-form > ul > li {float: left; margin: 0px 13px 0px 0px}
.user-form > ul > .cancel {padding:6px 0px}
.user-form > ul > .cancel > a {font-size: 12px}
.signup-btn {float: left; border-width: 1px}
.signup-btn > input {float: left; display: block; padding: 5px 12px 4px 12px; font-size: 15px;  border-width: 2px; font-weight: normal}

/* Side Bar Search Area */

.voice-search {height: 46px; width: 263px; border-width: 1px 0px 1px 0px; position: relative; z-index:4}
.voice-search .search {padding: 2px 0px 0px 25px; font-size: 12px; width: 176px; margin-top: 9px; margin-left: 10px; height: 27px; float: left; vertical-align: middle; border-width: 1px 0px 0px 0px; position: relative; z-index: 1}
.voice-search > .search:focus {border-width: 2px; padding: 0px 0px 0px 22px; color: #444444; width: 175px}
.voice-search > .search-divider {width: 1px; height: 46px; border-width: 0px 0px 0px 1px; float: left; margin-left: 9px}
.voice-search > ul {float:left}
.voice-search > ul > li {position:relative; float: right}
.voice-search > ul > li > .map-btn {height: 31px; width: 31px; display: block}
.voice-search > ul > li > .map-active {height: 31px; width: 31px; display: block}
.voice-search > ul > li > .tooltip {top: 29px}
.mapit {height: 31px; width: 31px; display: block; margin: 8px 4px}
.mapit > .tooltip > .tooltip-positioner > .media-type-info {padding: 6px 10px; text-align:center} 
.mapit > .tooltip > .tooltip-positioner > .media-type-info > .media-type-title {width:174px; padding:0px; font-size: 13px}
.clear-search {width:13px; height:13px; position:absolute; right: 58px; top: 40%; cursor:pointer; display:none; z-index:2}

/* Side Bar Scroll Voice Area */	

.scroller {height: 500px; width: 263px; position: relative; overflow-y: scroll; z-index: 2}
.scroller .scroller {border: 0}
.scroller > .voice-sec {padding: 5px 10px 0px 10px; margin: 0; border-width: 1px 0px; height: 18px; font-weight: normal; font-size:12px; width: 228px; overflow: hidden}
.searchable {cursor: pointer}
.searchable > ul {display: block}
.searchable > ul > li {display: block; position: relative}
.scroller > .voice-sec > h2 {font-size:12px; font-weight: normal; float: left}
.scroller > .voice-sec > span {float: right; margin-top: 2px; width: 10px; height: 10px; text-indent: -999em}
.scroller .scroller {border: 0}
.scroller > ul > li {font-size: 13px}
.scroller > ul > li a {font-size: 12px; padding:14px 0 14px 35px; display:block; line-height: 1.3; width: 213px; border-width: 0px 0px 1px 0px}
.scroller > ul > li.last a {border-width: 0px}
.scroller > .voice-feature > li a {font-weight: bold; font-size: 13px}
.scroller > .voice-all > li a:hover {font-weight: bold}
.tab-controller {height: 42px; width: 10px; position: fixed; left:268px; top: 300px; cursor: pointer; z-index: 3}

/* Side Bar Custom Scroll Voice Area */	

.jspScrollable {height: 500px; width: 263px; position: relative; overflow-y: scroll}
.jspScrollable .scroller {border: 0}
.voice-sec {padding: 5px 10px 0px 10px; margin: 0; border-width: 1px 0px; height: 18px; font-weight: normal; font-size:12px; width: 232px; overflow: hidden}
.voice-sec > h2 {font-size:12px; font-weight: normal; float: left}
.voice-sec > span {float: right; margin-top: 2px; width: 10px; height: 10px; text-indent: -999em}
.jspScrollable .scroller {border: 0}
.scroller ul > li {font-size: 13px; width: 252px}
.scroller ul > li a {font-size: 12px; padding:14px 5px 14px 35px; display:block; line-height: 1.3; width: 211px; border-width: 0px 0px 1px 0px}
.scroller ul > li.last a {border-width: 0px}
.scroller .voice-gaza > li a,
.scroller .voice-feature > li a {font-weight: bold; font-size: 13px}
.scroller .voice-gaza > li a:hover,
.scroller .voice-all > li a:hover {font-weight: bold}
.tab-controller {height: 42px; width: 10px; position: fixed; left:268px; top: 300px; cursor: pointer; z-index: 3}

/* Overlay Styles */

.vide-overlay-container {display:none; position: absolute;}
.overlay-container {}
.overlay-container > .arrows {float: left; margin-left: -2px; z-index: 15; position: relative; width: 31px}
.arrows > .voice-arrow {width: 31px; height: 64px; display: block}
.arrows > .tooltip-arrow {position: absolute; margin-top:-70px}
.arrows > .tooltip-arrow > img {border-width: 8px; min-height: 60px}/*max-width:60px */
.arrows > .tooltip-arrow > .over-arrow {width: 12px; height: 10px; margin-top: -3px; margin-left: 55px}
.arrows > .tooltip-arrow > .right-tip-arrow {width: 12px; height: 10px; margin-top: -3px; margin-left: 15px !important}
.arrows > .tooltip-arrow.left {left: -67px}
.arrows > .tooltip-arrow.right {right: -69px}
.vide-overlay-container .video-container {border-width: 1px; float: left; position: relative; z-index: 20; padding:15px}
.voice-container {border-width: 1px; float: left; position: relative; z-index: 20}
.voice-container > .voice-over-info {padding: 0px 0px 0px 0px; width: auto; min-width:310px}
.voice-container > .voice-over-info > div {text-align: center;}
.voice-over-info > h2 {font-size: 18px; float: left; margin:14px 0px; padding-left: 20px;}
.voice-over-info > .external-link {float: left}
.voice-over-info > .external-link > li {float: left; border-width: 1px; margin-left: 10px}
.voice-over-info > .external-link > li > a {display: block; font-size: 13px; padding: 4px 12px; border-width: 1px; float: left}
.voice-over-info > ul {font-size: 18px; float: right}
.vide-overlay-container .close-voice-container {margin: -30px}
.close-voice-container {width: 33px; height: 33px; float: right; display: block; position: relative; margin: -19px}
.close-voice-container:hover {background-position: left bottom}
.voice-container > .information {}
.voice-container > .comments {}
.voice-container > .voice-coment-zone {clear: both; height: 173px; border-width: 1px 0px}  
.voice-coment-zone > .show-comment-arrow {height: 7px; width: 16px; float:right; margin: -7px 33px 0px 0px; display:none}
.voice-coment-zone > .voice-coment-facebook {}
.fbc-container-box {height:173px; overflow:auto; overflow-x:hidden}
.voice-container > .share-voice-container {clear: both; overflow: hidden; padding: 6px 10px 6px 15px}
.voice-container > .share-voice-container > p {font-size: 11px; float: left; margin-top: 7px}
.share-voice-container > .actions {float: right}
.share-voice-container > .actions > li {float:left; margin-right: 5px}
.share-voice-container > .actions > li > a {display:block; width: 25px; height: 25px}
.share-voice-container > .actions > .flag-div {width: 31px; margin-right: 0px}
.share-voice-container > .actions > li > .flag {float: right}
.voice-over-info > .comments {float: right; margin: 15px 0px}
.voice-over-info > .comments > li {font-size: 12px; font-weight: bold; height: 16px; width: 30px; line-height: 19px;  padding-left: 20px}
#overlay {display:none;  position:absolute; top:0; left:0; height:100%; width:100%; z-index: 5;
  filter: alpha(opacity = 50);
  -moz-opacity:0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}
.overlay-container { position:absolute; z-index: 6; display: none;}

/* Overlay Link Styles */
.map-overlay {display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 5; overflow-y: hidden; overflow-x: hidden; background: #000}
.map-overlay > iframe {overflow-y: auto}
.link-overlay {display: none; height: 100%; left: 0; position: fixed; top: 0; width: 100%; z-index: 5; overflow-y: hidden; overflow-x: hidden; background: #000}
.link-overlay > iframe {overflow-y: auto}
.link-base-container {width: 100%; clear: both; bottom:0px; width:100%; position: fixed; z-index: 7}
.link-base-container > .comment-zone-border {border-width: 1px 0px 0px 0px; margin-bottom:-30px; height: 0px;}
.link-base-container> .comment-zone-border > .voice-coment-zone {border-width: 1px 0px 0px 0px; height: 200px; width:100%; position:relative; z-index:2; overflow:hidden; clear:both; padding:10px 0px}
.link-base-container > .back-to-voice { width:160px; height:30px; margin:0px auto -5px; position:relative; z-index: 4; text-align:center; display: block; padding-top:1px}
.link-base-container > .back-to-voice > span {font-size: 13px; padding-left:10px; font-family: MuseoSans700; display:block; margin-top:13px}
.back-to-voice > ul {overflow:hidden; width:50px; margin: 8px auto 0px}
.back-to-voice > ul > li {display:block; float:left; height:40px}
.back-to-voice > ul > .prev {border-width:0px 1px 0px 0px; float:left}
.back-to-voice > ul > .next {border-width:0px 0px 0px 1px; float:right}
.back-to-voice > ul > li > a {width:14px; height:19px; display:block; cursor:pointer; margin-top:10px}
.back-to-voice > ul > li > .prev {margin-right: 10px}
.back-to-voice > ul > li > .next {margin-left: 10px}
.link-base-border { width: 100%; border-width: 1px 0px 0px 0px; position:relative; z-index:3}
.link-base-border > .link-base-action {width: 100%; border-width: 2px 0px 0px 0px; height:45px}
.link-base-border > .link-base-action > ul {float:left; margin: 9px 0px 0px 10px; clear: both}
.link-base-border > .link-base-action > ul > li {display: block; float:left; padding-right: 7px; cursor: pointer;}
.link-base-border > .link-base-action > ul > li > a {border-width: 1px; display:block; float: left; font-size: 12px; padding: 4px 12px; font-size:13px}
.link-base-border > .link-base-action > .right-action {float: right; margin-top:10px; padding-right: 5px}
.link-base-action > .right-action > span {font-size: 11px; font-family: Arial; float: left; margin-top: 7px}
.link-base-action > .right-action > .actions {float: left; margin-left:14px; overflow:hidden}
.right-action > .actions > li {float:left; margin-right: 5px}
.right-action > .actions > li > a {display:block; width: 25px; height: 25px}
.right-action > .actions > .flag-div {width: 31px; margin-right: 0px}
.right-action > .actions > li > .flag {float: right}
.right-action > .actions > li > .flag-pressed, .flag-pressed {float: right}
.right-action > .actions > li > .flag-over, .flag-over {float: right}
.right-action  > .comments {float: left; margin-top: 5px; margin-left: 22px; cursor: pointer; height:16px}
.right-action  > .comments > li {font-size: 12px; font-weight: bold; height: 17px; width: 30px; line-height: 19px;  padding-left: 20px}



/* Messages Styles */

.flash-message {margin: 22px 15px 0px 17px; padding: 1px}
.message {border-width: 1px; padding: 11px 8px 8px 15px; overflow: hidden}
.message p {font-size: 16px; float: left; padding-top: 2px}
.message p span {font-weight: bold}
.close-message {width: 22px; height: 22px; float: right}

/* Map Styles */

.main-container {}
.map-container {display: none; position: fixed; width:100%; height:100%}
html > body, .post-and-actions{min-width:980px}
.post > input[type="text"]{min-width:300px}
.filters-and-mode{min-width:400px}


/*loading wrapper*/
.updating-wrapper {position: absolute; z-index: 0; height: 100%; width: 100%; top: 0; left: 0; z-index: 1;}
.image-bg-patter {position: absolute; height: 100%; width: 100%; top: 0; left: 0; z-index: 1;}
.loading-wrapper {width: 200px; position: absolute;  top: 40%; left: 50%; display: block;}

.spinner {width: 150px; float: left; padding: 0px 0 11px; border-style: solid; border-width: 1px; text-align: center; font-weight: bold; font-size: 13px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}
.spinner > img {float: left; margin: 12px 0 0 10px}
.spinner > p {float: left; margin: 10px 0 0 10px; }


/* Home Page Styles */

.home-slider {height: 230px; position: relative}
.home-slider .feature-voice {height: 230px; width:100%; position: absolute; z-index: 0}
.home-slider .active {z-index: 3}
.feature-voice .bg-pattern {height: 230px; position: relative}
.feature-voice .caption {padding: 20px 0 15px; text-align: center; position: absolute; width: 100%; bottom: 0; z-index: 2}
.feature-voice .caption h2,
.feature-voice .caption p {padding-left: 20px; padding-right: 20px}
.feature-voice .caption h2 {font-size: 22px; font-weight: normal; min-width: 560px}
.feature-voice .caption p {font-size: 13px; padding-top: 10px; line-height: 1.5; min-width: 560px}

.feature-voice .caption p > a > .arrow {width: 0; height: 0; line-height: 0; display: inline-block}
.feature-voice .caption p > a > .arrow-left {border-width: 4px}

.slider-paginate {height: 22px; border-width: 1px 0px 1px; border-style: solid}
.paginate-menu {width: 80px; margin: 5px auto}
.paginate-menu li  {float: left; width: 11px; height: 11px; margin-right:5px}
.current-voice-bar {height: 4px}
.current-voice-notice {width:116px; height:21px; margin: -4px auto; text-align: center; font-size: 12px}
.current-voices-container {padding: 18px 20px;}
.current-voice-box {float: left; width: 200px; padding: 5px; margin-bottom: 20px;}
.current-info {position:relative; min-height:120px;}
.current-info img {max-width: 200px; min-width: 200px; margin-bottom: -3px}
.current-info h2 {padding: 10px; width: 180px; font-size:15px; font-weight: normal; position: absolute; bottom: 0}

/* News Ticker */
.news-ticker-holder {height: 22px; width: 100%}
.news-ticker-holder .shader {z-index: 5}
.news-ticker-holder > .crowd-noise {height: 22px; overflow: hidden}
.news-ticker {position: relative; height: 12px; overflow: hidden; padding: 5px 30px 0}
.news-ticker > li {float: left; padding-right: 9px}
.news-ticker > li > a {display: block; font-size: 10px; position: relative; padding-left: 25px}
.news-ticker > li > a > .icons {position: absolute; left: 7px; top: 0}
.news-ticker .icons.link-ico,
.news-ticker .icons.video-ico {top: 2px}

.icons.latest {margin-top: 1px}
.icons.voices-count {margin-top: -1px; position: relative}
.news-ticker-holder > .crowd-noise {position: relative}
.news-ticker-holder .shader {position: absolute; bottom: 0; height: 21px}
.news-ticker-holder .shader-left  {left: 0;  padding-right: 15px}
.news-ticker-holder .shader-right {right: 0; padding-left: 15px}

.voices-count,
.voices-count > span,
.voices-count > span > span {line-height: 1}
.voices-count {padding-left: 10px}
.voices-count .voices-count-right {padding-right: 16px}
.voices-count .voices-numbers {display: block; font-size: 10px; display: block; text-align: center; padding: 7px 0 0; height: 15px}

/* Voices Listing */

/* Voices Types: Featured, normal-voice and without image */
.voice-list {padding: 5px; margin-bottom: 20px; height: auto}

/*.voice-list.voice-without-image {width: 210px}*/

.voice-without-image .voice-list-content {height: auto}
.voice-list-content a {display: block; position: relative}
.voice-list-content a .voice-description {position: absolute; bottom: 0; z-index: 2}

.voice-without-image a .voice-description {position: static}

.voice-description {padding: 10px}
.voice-description h2 {font-size: 15px}
.voice-description h2,
.voice-description p {margin-bottom: 5px}
.voice-description p {line-height: 1.4}
.voice-description .voices-count {float: left}
.voice-description .time-ago {font-size: 10px; display: inline-block; margin: 5px 0 0 5px}

/* Voices count Tooltip */
.voice-count-tooltip {position: absolute; top: -100%; z-index: 10; font-size: 11px; height: 16px; padding: 4px 0 0 8px; display: none}
.voice-count-tooltip > ul {float: left; overflow: hidden}
.voice-count-tooltip > ul > li {display: inline-block; position: relative; padding-left: 17px; margin-right: 10px; white-space: nowrap}
.voice-count-tooltip > ul > li > .icons {position: absolute; left: 0}
.voice-count-tooltip .video-count,
.voice-count-tooltip .link-count {top: 2px}
.voice-count-tooltip > ul > .last {margin: 0}
.voice-count-tooltip > .arrow,
.voice-count-tooltip > .arrow > span {position: absolute; width: 0; height: 0; line-height: 0}
.voice-count-tooltip > .arrow {border-width: 0 6px 6px 6px; top: 20px; right: 15px; z-index: 5}
.voice-count-tooltip > .arrow > span {border-width: 0 4px 4px 4px; z-index: 6; left: -5px; top: -1px}

.voices-count,
.voices-count .voices-count-right,
.voices-count .voices-numbers {
  display: inline-block;
}

.voices-count {
  height: 24px;
}

.icons {display: inline-block}

.voice-count-tooltip > ul > li {margin-right: 10px}
.voice-count-tooltip > ul > .last {margin: 0}

/* Home Columns */
.home-columns > div {float: left; margin-right: 20px}
.home-columns > .column-3 {margin-right: 0}
.home-columns .voice-list .voice-description {padding: 0; width: 100%}
.home-columns .voice-list .voice-description-padding {padding: 10px}

@media only screen and (min-width : 300px) and (max-width : 1090px) {
	.featured-voice .voice-description p {overflow: hidden; height: 16px}
}
@media only screen and (min-width : 1091px) and (max-width : 1205px) {
	.featured-voice .voice-description p {overflow: hidden; height: 32px}
}