/* Override all styles necessary in this sheet for the widget showing all voices */
html,
body {font-family: Arial, sans-serif}
.clear {clear: both}
.hide-text {display: block; font-size: 0; line-height: 0; text-indent: -9999px; color: transparent}
.widget-voice.small-list ul.voice-posts {height: 220px}
.widget-voice.medium-list ul.voice-posts {height: 320px}
.widget-voice.tall-list ul.voice-posts {height: 420px}
.voice-content ul.voice-posts {overflow-x: hidden; overflow-y: auto; padding: 0}
.widget-voice.default-size .voice-thumb {margin-right: 10px; padding: 3px}
.voice-thumb {background-color: #ffffff; border: 1px solid #d4d4d4; display: inline; float: left}
.voice-thumb img {display: block}
.widget-all-voices a,
.widget-all-voices a:visited,
.widget-all-voices a:hover,
.widget-all-voices a:active {outline: none}

.widget-all-voices > .voice-header > .all-voices-social .widget-icon,
.widget-all-voices > .voice-header > .all-voices-title > h1,
.widget-all-voices > .voice-header > .all-voices-title > h1 a,
.widget-all-voices > .voice-footer > div,
.widget-all-voices > .voice-footer > div > a {background-color: transparent; background-image: image-url("bg/sprites/sprite-allvoices-widget.png"); background-repeat: no-repeat}

.widget-all-voices > .voice-header > .all-voices-title {text-align: center; height: 31px; background-color: #3b3c3d;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
             -moz-border-radius-bottomleft: 0px;
            -moz-border-radius-bottomright: 0px;
    -webkit-box-shadow: inset 0 1px 0 0 #000000, inset 0 2px 0 0 rgba(255, 255, 255, .14);
       -moz-box-shadow: inset 0 1px 0 0 #000000, inset 0 2px 0 0 rgba(255, 255, 255, .14);
            box-shadow: inset 0 1px 0 0 #000000, inset 0 2px 0 0 rgba(255, 255, 255, .14);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#515253), to(#292a2b));
    background-image: -webkit-linear-gradient(top, #515253, #292a2b);
    background-image:    -moz-linear-gradient(top, #515253, #292a2b);
    background-image:     -ms-linear-gradient(top, #515253, #292a2b);
    background-image:      -o-linear-gradient(top, #515253, #292a2b);
    background-image:         linear-gradient(top, #515253, #292a2b);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#515253', EndColorStr='#292a2b')
}
.widget-all-voices > .voice-header > .all-voices-title > h1 {font-size: 14px; text-transform: uppercase; font-weight: bold; margin: 0; padding: 0; background-position: 0 100%; background-repeat: repeat}
.widget-all-voices > .voice-header > .all-voices-title > h1 a {display: block; padding-top: 8px; height: 22px; background-position: 50% 6px}

.widget-all-voices > .voice-header > .all-voices-description {border-width: 0 1px 1px; border-style: solid; border-color: #cfcfcf; background-color: #000000;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f5f5f5));
  background-image: -webkit-linear-gradient(top, #fcfcfc, #f5f5f5);
  background-image:    -moz-linear-gradient(top, #fcfcfc, #f5f5f5);
  background-image:     -ms-linear-gradient(top, #fcfcfc, #f5f5f5);
  background-image:      -o-linear-gradient(top, #fcfcfc, #f5f5f5);
  background-image:         linear-gradient(top, #fcfcfc, #f5f5f5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fcfcfc', EndColorStr='#f5f5f5')
}
.widget-all-voices > .voice-header > .all-voices-description > h2 {font-size: 15px; margin: 0; text-align: center; padding: 15px 25px; line-height: 20px; color: #424344}

.widget-all-voices > .voice-header > .all-voices-social {border-width: 0 1px 1px; padding-top: 5px; height: 21px; font-size: 11px; background-color: #f0f1f2; border-style: solid; border-color: #c4c7ca;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f8f8), to(#e3e5e7));
  background-image: -webkit-linear-gradient(top, #f7f8f8, #e3e5e7);
  background-image:    -moz-linear-gradient(top, #f7f8f8, #e3e5e7);
  background-image:     -ms-linear-gradient(top, #f7f8f8, #e3e5e7);
  background-image:      -o-linear-gradient(top, #f7f8f8, #e3e5e7);
  background-image:         linear-gradient(top, #f7f8f8, #e3e5e7);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f7f8f8', EndColorStr='#e3e5e7')
}
.widget-all-voices > .voice-header > .all-voices-social > span {float: left; margin: 2px 0 0 60px; color: #717a83; text-shadow: 0px 1px 0px rgba(255, 255, 255, .48)}
.widget-all-voices > .voice-header > .all-voices-social > ul,
.widget-all-voices > .voice-header > .all-voices-social > ul li {margin: 0; padding: 0}
.widget-all-voices > .voice-header > .all-voices-social > ul {float: left; margin-left: 20px}
.widget-all-voices > .voice-header > .all-voices-social ul li {float: left; display: inline; margin-right: 8px}
.widget-all-voices > .voice-header > .all-voices-social ul li a {width: 16px; height: 16px}
.widget-all-voices > .voice-header > .all-voices-social .twitter  {background-position: 0px -32px}
.widget-all-voices > .voice-header > .all-voices-social .facebook {background-position: -16px -32px}
.widget-all-voices > .voice-header > .all-voices-social .email    {background-position: -32px -32px}

.widget-all-voices > .voice-content {border-width: 0px 1px 1px; border-style: solid; border-color: transparent #cfcfcf #d7d9da}
.widget-all-voices .voice-posts {
  background: #eeeff0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeff0), color-stop(10%,#f7f7f7));
  background: -webkit-linear-gradient(top, #eeeff0 0%, #f7f7f7 10%);
  background:    -moz-linear-gradient(top, #eeeff0 0%, #f7f7f7 10%);
  background:      -o-linear-gradient(top, #eeeff0 0%, #f7f7f7 10%);
  background:     -ms-linear-gradient(top, #eeeff0 0%, #f7f7f7 10%);
  background:         linear-gradient(top, #eeeff0 0%, #f7f7f7 10%);
              filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeff0', endColorstr='#f7f7f7',GradientType=0 );
}
.widget-all-voices .voice-posts,
.widget-all-voices .voice-posts > li {list-style: none; margin: 0; padding: 0;}

.widget-all-voices .voice-posts > li {border-width: 1px 0 1px; border-style: solid none solid; border-color: #ffffff transparent #d7d9da}
.widget-all-voices .voice-posts > li:first-child {border-top-style: none}
.widget-all-voices .voice-posts > li:last-child {border-bottom-style: none}

.widget-all-voices .voice-posts > li > a {color: #636465}
.widget-all-voices.default-size .voice-content ul.voice-posts li a,
.widget-all-voices.default-size .voice-content ul.voice-posts li a:visited,
.widget-all-voices .voice-posts > li > a,
.widget-all-voices .voice-posts > li > a:visited {font-size: 13px; padding: 10px 10px 0; display: block; overflow: hidden; font-weight: bold; text-decoration: none; margin: 0}
.widget-all-voices .voice-posts > li > a:hover {color: #4b4c4d}
.widget-all-voices .voice-posts > li > a span {display: block; padding-top: 10px; margin-left: 70px}

.widget-all-voices > .voice-footer {height: 33px; border-width: 0 1px 1px; border-style: solid; border-color: #c0c4ca; background-color: #f1f1f1;
  -webkit-border-radius: 0 0 5px 5px;
     -moz-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
           -moz-border-radius-topleft: 0px;
          -moz-border-radius-topright: 0px;
       -webkit-box-shadow: inset 0 1px 0 0 #ffffff;
          -moz-box-shadow: inset 0 1px 0 0 #ffffff;
               box-shadow: inset 0 1px 0 0 #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e3e3e5));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #e3e3e5);
  background-image:    -moz-linear-gradient(top, #f5f5f5, #e3e3e5);
  background-image:     -ms-linear-gradient(top, #f5f5f5, #e3e3e5);
  background-image:      -o-linear-gradient(top, #f5f5f5, #e3e3e5);
  background-image:         linear-gradient(top, #f5f5f5, #e3e3e5);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f5f5f5', EndColorStr='#e3e3e5')
}
.widget-all-voices > .voice-footer > div > a {width: 119px; height: 16px; float: left; margin: 10px 0 0 84px; background-position: 0 -48px}

.widget-all-voices > .voice-footer > div {height: 33px; background-position: 0 100%; background-repeat: repeat}
.widget-all-voices > .voice-footer > div > a {}
.widget-all-voices > .voice-footer > div > a:hover {background-position: 0 -64px}

/* RTL */
.widget-all-voices.widget-rtl .voice-thumb {margin: 0 0 0 10px; float: right}
.widget-all-voices.widget-rtl .voice-posts > li > a span {margin: 0 70px 0 0}
