<div class="discuss closed" data-hansel-component-id="posts-discuss-panel">
  <div class="twitter-tweets discuss-section front" data-search="<%= CGI::escape( @voice.twitter_search ) %>">
    <p class="discuss-tab tweets panel-padding"><a href="#" class="tab-title-left-closer twitter" title="Tweets"><span class="tab-title-right-closer"><span class="tab-title-text">Twitter</span></span></a></p>
    <div class="discuss-container twitter">
      <div class="close-holder panel-padding">
        <div class="close-discuss"></div>
        <p class="close-btn-control"></p>
      </div>
      <div class="twitter-bg">
        <div class="twitter-list-bg panel-padding">
          <ul class="tweets-list">
              <li class="tweet">
                <p>No tweets found.</p>
                <p>&nbsp;</p>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
