<hgroup>
  <div class="logo-header">
    <div class="logo-container">
      <%= link_to (root_path) do
            content_tag :h1, 'CROWDVOICE',:class => 'crowdvoice-logo'
          end
      %>
      <%= link_to '?', about_path, :title => 'About Crowdvoice', :class => 'crowdvoice-about' %>
    </div>
    <h5 class="crowdvoice-slogan">Tracking Voices Of Protest</h5>
  </div>
</hgroup>
