/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 11px;
	height: 100%;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	background: image-url("bg/scroller.png") 0px 0px repeat-y;
	position: relative;
}

.jspDrag {position: relative; top: 0; left: 0; cursor: pointer;
  background-color: #c1c1c1;
  background-image: -moz-linear-gradient(left, #c8c8c8, #a4a4a4);
  background-image: -ms-linear-gradient(left, #c8c8c8, #a4a4a4);
  background-image: -o-linear-gradient(left, #c8c8c8, #a4a4a4);
  background-image: -webkit-gradient(linear, left top, right top, from(#c8c8c8), to(#a4a4a4));
  background-image: -webkit-linear-gradient(left, #c8c8c8, #a4a4a4);
  background-image: linear-gradient(left, #c8c8c8, #a4a4a4);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c8c8c8', EndColorStr='#a4a4a4');
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
     -moz-box-shadow:inset 0px 0px 0px 1px #989898; /* FF3.5+ */
  -webkit-box-shadow:inset 0px 0px 0px 1px #989898; /* Saf3.0+, Chrome */
          box-shadow:inset 0px 0px 0px 1px #989898; /* Opera 10.5, IE9, Chrome 10+ */
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
