body,ul,h1,h2,h3,h4,h5,p,pre,input,th,td,fieldset,legend, button, textarea, blockquote {margin:0; padding:0}
table{border-collapse:collapse;border-spacing:0}
ul{list-style-type: none; padding: 0}
img,fieldset{border: none}
*{outline: none}
header,section,article,section{display: block}
a{text-decoration: none; cursor: pointer; outline:0 none} 
a:hover{text-decoration: underline}
html, body { height: 101% }
