//needed for css3 rules
@import 'css3-sass-mixins/all';

//Config file
@import 'skin-config';

//CSS Rules
body {
  background: url($voice-noise) repeat;
  background-attachment: fixed;
}

/**********/
/* HEADER */
/**********/
header {
  background: url($voice-info) repeat scroll 0 0 transparent;
}

hgroup,
.panel-container {
  border-right-style: solid;
  border-right-color: rgba($tWht, .1);
}

.hgroup-theme-image {
  border-bottom-style: solid;
  border-bottom-color: rgba($tWht, .5);
}

hgroup{
  background: url($hgroup) repeat-x 0 0;
}

.#{$scTk}-header {
  background: url($scTk-header) no-repeat;
}

/* top left logo */
.crowdvoice-logo {
  text-indent: -999em;
  background: url($crowdvoice-logo) no-repeat 0 0;

  &.#{$scTk}{
    background: url($scTk-logo) no-repeat 0 0 !important;
  }
}

.crowdvoice-about {
  text-indent: -999em;
  background: url($crowdvoice-about) no-repeat 0 0;

  &:hover {
    background-position: 0 -18px;
  }
}

.crowdvoice-slogan {
  color: darken($txtLight, 19);
  text-shadow: 0px -1px 4px rgba($tBlk, .6);
}

.theme-image {
  background: url($top-theme-image) repeat-x 0 3px /*Default Header Image*/
}

.top-line {
  background-color: $lightShade-5;
  border-style: solid none;
  border-color: $lightShade-2 transparent $lightShade-5;

  &.#{$scTk} {
    background: $lightShade-7 url($scTk-top-line) repeat-x !important
  }
}


// This 'for' compiles to:
// .green .top-line {background-color: #69D060; border-style: solid none; border-color: #5DB255 transparent #8ed988}
@each $color in $tColors {

  .#{nth($color, 1)} .top-line {
    background-color: nth($color, 3);
    border-style: solid none;
    border-color: nth($color, 4) transparent nth($color, 2);
  }

}

.voice-info.#{$scTk} {
  background:url($scTk-flag) no-repeat scroll -22px -2px transparent;
}

.voice-info {
  border-bottom-color: rgba($tBlk, .15);
  border-bottom-style: solid;
}

.voice-title {
  color: lighten($txtDark, 13);
  text-shadow: 1px 1px 0px $nWht
}

.info-tool-link {
  background-image: url($voice-info-tools);
  background-repeat: no-repeat
}

//This each renders to:
//body.green .info-tool-link  {background-image: url('/assets/bg/sprites/voice_info_tools_green.png');  background-repeat: no-repeat}
@each $color in $tColors {

  body.#{nth($color, 1)} .info-tool-link  {
    background-image: url('/assets/bg/sprites/voice_info_tools_#{nth($color, 1)}.png');
    background-repeat: no-repeat;
  }

}
 //sprite build
.maps >    .info-tool-link       {
  background-position: 0 0;
  &:hover {
    background-position: 0 -25px;
  }
}

.widget >  .info-tool-link       {
  background-position: -25px 0;
  &:hover {
    background-position: -25px -25px;
  }
}

.rss >     .info-tool-link       {
  background-position: -50px 0;
  &:hover {
    background-position: -50px -25px;
  }
}

.twitter > .info-tool-link       {
  background-position: -75px 0;
  &:hover {
    background-position: -75px -25px;
  }
}


.voice-subtitle > em {
  color: darken($txtLight, 23);
}

//default color is green:
.more-button {
  color: darken($txtLight, 23);
  border-style: solid;
  text-decoration: none;
  @include border-radius(3px);

  &:hover {
    text-decoration: none;
    color: $txtLight;
    border-color: nth($greenShades, 4) nth($greenShades, 5) nth($greenShades, 6);
  }

  &:active,
  &:hover {
    background-color: $lightShade-6;
    @include linear-gradient($lightShade-6, $lightShade-7, 1);
  }

  > span {
    border-color: $lightShade-7;
    border-style: solid;
    text-decoration: none;
    @include border-radius(3px);
    @include linear-gradient($lightShade-6, $lightShade-4, 1);

    &:hover{
      border-color: nth($greenShades, 2);
      border-style: solid;
      text-decoration: none;
      background-color: nth($greenShades, 4);
      @include linear-gradient(nth($greenShades, 4), nth($greenShades, 6), 1);
    }
  }

}

@each $color in $tColors {

  .#{nth($color, 1)} .more-button > span:hover {
    border-color: #{nth($color, 3)};
    border-style: solid;
    text-decoration: none;
    background-color: nth($color, 2);
    @include linear-gradient(nth($color, 4), nth($color, 6), 1);
  }

  .#{nth($color, 1)} .more-button:hover {
    border-color: nth($color, 4) nth($color, 5) nth($color, 6);
  }

}

.post-and-actions {
  background: url($voice-post-and-actions) repeat-x 0 0;
  border-color: $lightShade-6 transparent $lightShade-2;
  border-style: solid none;
}

.post > {
  .post-paceholder {
    color: darken($txtLight, 23);

    > .cover {
      background: $lightShade-8;
    }

    > input[type=file] {
      float: right;
      cursor: pointer;
      @include opacity(0);
    }

    > a {
      text-decoration:none

      &:hover {
        text-decoration:underline;
      }
    }
  }
}

@each $color in $tColors {

  body.#{nth($color, 1)} .post > .post-paceholder > a {
    color: nth($color, 4);
  }

}
//default is green
.post-type > .media > {
  .media-type {
    background-image: url('/assets/bg/sprites/post_type_green.png');
    background-repeat: no-repeat
  }
  //sprite builder
  .image-tool         {background-position:  0        0}
  .image-tool.active  {background-position:  0    -25px}
  .video-tool         {background-position: -22px     0}
  .video-tool.active  {background-position: -22px -25px}
  .link-tool          {background-position: -44px     0}
  .link-tool.active   {background-position: -44px -25px}
}





@each $color in $tColors {

  body.#{nth($color, 1)} .post-type > .media > .media-type {
    background-image: url('/assets/bg/sprites/post_type_#{nth($color, 1)}.png');
    background-repeat: no-repeat
  }

}

.tooltip-positioner > .tooltip-arrow > span {
  background: url($arrow-tooltip) no-repeat 0 0;
}

.tooltip > .tooltip-positioner > .media-type-info,
.tooltip-positioner > form > .grab-blog-widget {
  border-color: $lightShade-8;
  border-style: solid;
  background-color: $lightShade-6;
  @include border-radius(5px);
  @include box-shadow(0 2px 6px rgba($tBlk, .4));
}

.media-type-info {

  h3,
  .description-link,
  .carousel-arrows > .carousel-counter{
    color: darken($txtLight, 68.5);
  }

  .carousel-arrows > {

    .right-arrow,
    .left-arrow {
      background: url($tooltip-arrows) no-repeat;
      background-position: 0 0;
      cursor:pointer;
    }

    .right-arrow {
      background-position: 100% 0;

      &:hover{
        background-position: 100% -17px;
      }
    }

    .left-arrow:hover {
      background-position: 0 -17px;
    }

  }

  .link-textarea {
    border-color: $mainShade;
    border-style: solid;
    @include border-radius(5px);
  }

}

.thumb-tip > .tooltip-positioner > .tooltip-arrow > span {
    background: url($arrow-tooltip-down) no-repeat scroll 0 0 transparent;
}

.flag-tip > .tooltip-positioner > {
  .tooltip-arrow > span {
    background: url($arrow-tooltip-down) no-repeat 0 0;
  }

  .media-type-info > .flag-tooltip {
    color: darken($txtLight, 68.5);
  }
}

.media-type-title,
.grab-blog-widget {
  color: darken($txtLight, 68.5);
}

.media-type-subtitle,
.blog-widget-subtitle {
  color: darken($txtLight, 68.5);
  border-top-style: dotted;
  border-top-color: $mainShade;
}

.blog-widget-subtitle.no-border {
  border-top-style: none;
  padding: 20px 7px 17px;
}

.media-type-link {
  color: nth($greenShades, 4);
}

@each $color in $tColors {

  body.#{nth($color, 1)} .media-type-link {
    color: nth($color, 4);
  }

}

.media-type-notice {
  color: darken($txtLight, 28.5);
}

.blog-widget-textarea {
  border-color: $mainShade;
  border-style: solid;
  @include border-radius(5px);
}

.image-tip textarea,
.image-tip input {
  border-color: $mainShade;
  border-style: solid;
  @include border-radius(5px);
}


/* Post button styles */

.post > {
  input[type='text'] {
    border-color: $darkShade-2 $mainShade $lightShade-1;
    border-style: solid;
    @include border-radius(5px 0 0 5px);
  }

  .post-button {
    border-color: $darkShade-3;
    border-style: solid;
    cursor: pointer;
    @include border-radius(0 5px 5px 0);

    > input[type='submit'] {
      border-color: nth($greenShades, 2) nth($greenShades, 3) nth($greenShades, 4);
      border-style: solid;
      color: darken($txtLight, 1);
      cursor: pointer;
      background-color:nth($greenShades, 4);
      @include border-radius(0 5px 5px 0);
      @include linear-gradient(nth($greenShades, 4), nth($greenShades, 6), 1);

      &:hover {
        border-color: nth($greenShades, 2) nth($greenShades, 4) nth($greenShades, 5);
        background-color: nth($greenShades, 4);
        @include linear-gradient(nth($greenShades, 4), nth($greenShades, 6), 1);
      }
    }
  }
}

@each $color in $tColors {

  body.#{nth($color, 1)} .post > .post-button > input[type='submit'] {
    border-color: nth($color, 3) nth($color, 3) nth($color, 4);
    border-style: solid;
    color: darken($txtLight, 1);
    cursor: pointer;
    background-color: nth($color, 4);
    @include linear-gradient(nth($color, 4), nth($color, 6), 1);

    &:hover{
      border-color: darken(nth($color, 3), 8) darken(nth($color, 3), 8) darken(nth($color, 4), 8);
      background-color: darken(nth($color, 4), 8);
      @include linear-gradient(darken(nth($color, 4),8), darken(nth($color, 6),8), 1);
    }
  }

}

.post-and-actions {
  background: url($voice-post-and-actions) repeat-x 0 0;
  border-color: rgba($tWht, .6) transparent rgba($tBlk, .05);
  border-bottom-style: solid;
  position: relative;
  z-index:1;
}

.filters-and-mode {
  background: url($voice-filters-and-mode) repeat-x 0 0;
  border-top-color: rgba($tWht, .4);
  border-top-style: solid;
  @include box-shadow(0 1px 2px $nBlk);
}

.filters > p,
.mode > p {
  color: darken($txtLight, 38.5);
}
.filters > label {
  color: darken($txtLight, 68.5);
}


.mode-button {
  border-color: $lightShade-4;
  border-style: solid;

  &:first-child,
  &:first-child > .button {
    @include border-radius(3px 0 0 3px);
  }

  &:first-child + .mode-button,
  &:first-child + .mode-button > .button {
    @include border-radius(0 3px 3px 0);
  }

  &.selected {
    border-bottom-color: $lightShade-6;
  }

  &:first-child > .button,
  &:first-child + .mode-button > .button {
    border-style: solid;
    background-color: $nWht;
  }

  &:first-child > .button{
    border-color: $lightShade-1 transparent $darkShade-2 $mainShade;
  }

  &:first-child + .mode-button > .button {
    border-color: $lightShade-1 $mainShade $darkShade-2 transparent;
  }

  > .button > a {
    text-decoration: none;
    background-color: $lightShade-6;
    @include linear-gradient($lightShade-6, $lightShade-4)
  }

}

.moderate-tooltip {
  color: darken($txtLight, 57.5);
}

@each $color in $tColors {
  body.#{nth($color, 1)} .mode-button > .button > a {
    color: nth($color, 5);
  }
}


.mode-button > .button > a:hover {
  background-color: $lightShade-6;
  @include linear-gradient($lightShade-4, $lightShade-6, 1);
}

.mode-button.selected:first-child > .button {
  border-color: $darkShade-7 $darkShade-4 $darkShade-2 $darkShade-3;
}

.mode-button.selected:first-child > .button > a,
.mode-button:first-child + .mode-button.selected > .button > a {
  border-color: $darkShade-6 $darkShade-3 $darkShade-1 $darkShade-3;
  border-style: solid;
  color: darken($txtLight, 1);
  background-color: $darkShade-4;
  @include linear-gradient($darkShade-4, $darkShade-1, 1);
}
.mode-button:first-child + .mode-button.selected > .button {
  border-color: $darkShade-7 $darkShade-3 $darkShade-2 $darkShade-4;
}


.voice {
  background: $darkShade-7 url($aside) repeat;
}
.header-sponsor {
  background: url($sponsor-header) top center no-repeat
}
.header-sponsor > span {
  color: darken($txtLight, 1);
}

.side-tab {
  background: url($side-tab) no-repeat;
}
.create-voice > ul > li > .button {
  background: $darkShade-2;
  text-decoration: none;
  color: darken($txtLight, 10.5);
  border-style: solid;
  border-color: $nBlk;
  font-weight: normal;
  @include border-radius (4px);
  @include box-shadow (inset 0 0 0 2px $darkShade-2);
  @include linear-gradient ($darkShade-3, $darkShade-5, 1);

  &:hover{
    color: darken($txtLight, 1);
    @include box-shadow (inset 0 0 0 2px $darkShade-1);
    @include linear-gradient ($darkShade-2, $darkShade-3, 1);
  }

  &:active{
    background: $darkShade-2;
    text-decoration: none;
    color: darken($txtLight, 10.5);
    border-style: solid;
    border-color: $nBlk;
    font-weight: normal;
    @include border-radius (4px);
    @include box-shadow (inset 0 0 0 2px $darkShade-4);
    @include linear-gradient ($darkShade-6, $darkShade-5, 1);
  }
}

.create-voice > ul > li > .voicebtn {
  @include opacity(.6);
}
.create-voice > ul > li > .voicelogin {
  @include opacity(1);
}

.create-voice > ul > li > .tooltip > .tooltip-positioner > .media-type-info > .pencil {
  background: url($pencil) no-repeat
}

/**************************/
/* SIDEBAR LOGIN/REGISTER */
/**************************/

.user-form {
  background: url($register-login) repeat-x;
  border-style:solid;
  border-color: $darkShade-4;
}
.register-login > tbody > .error > td > span {
  color: $txtError;
  font-weight: normal
}
.register-login > tbody > tr > td > label {
  color: darken($txtLight, 28.5);
}
.register-login > tbody > tr > td > input {
  border-style: solid;
  border-color: $nBlk;
  color: darken($txtLight, 23);
  @include border-radius (4px);
  @include linear-gradient ($darkShade-6, $darkShade-8, 1);
}

.register-login > tbody > tr > td > .error {
  border-color: $bdError;
  background: $bkError;
}

.user-form > ul > .cancel > a {
  color: darken($txtLight, 28.5);
}

.signup-btn {
  border-style: solid;
  border-color: $nBlk;
  @include border-radius (3px);
}
.signup-btn > input {
  background: $darkShade-3;
  text-decoration: none;
  color: darken($txtLight, 10.5);
  border-style: solid;
  border-color: $darkShade-2 $darkShade-3 $darkShade-4 $darkShade-3;
  @include border-radius (3px);
  @include linear-gradient ($darkShade-3, $darkShade-5, 1);

  &:hover{
    text-decoration: none;
    color: darken($txtLight, 1);
    border-style: solid;
    border-color: $darkShade-1 $darkShade-1 $darkShade-2 $darkShade-1;
    @include linear-gradient ($darkShade-2, $darkShade-3, 1);
  }

  &:active{
    text-decoration: none;
    color: darken($txtLight, 1);
    border-style: solid;
    border-color: $darkShade-2 $darkShade-3 $darkShade-4 $darkShade-3;
    @include linear-gradient ($darkShade-6, $darkShade-5, 1);
  }
}

.forgot-pass a {
  color: darken($txtLight, 1);
}
.forgot-pass a:hover {
  text-decoration: underline
}


/******************/
/* SIDEBAR SEARCH */
/******************/
.voice-search {
  background: url($side-search) repeat-x;
  border-style: solid;
  border-color: $lightShade-5 transparent $mainShade transparent;
}

.voice-search .search {
  color: darken($txtLight, 23);
  border-style: solid;
  border-color: $darkShade-1;
  @include border-radius (4px);
  //TODO: Composite background mixins
  background: url($search-ico) no-repeat 6px 7px, -moz-linear-gradient(top, $lightShade-6, $lightShade-8) ;
  background: url($search-ico) no-repeat 6px 7px, -webkit-gradient(linear, left top, left bottom, color-stop(0.00, $lightShade-6), color-stop(1.0, $lightShade-8));
  background: url($search-ico) no-repeat 6px 7px, -webkit-linear-gradient($lightShade-6, $lightShade-8);
  background: url($search-ico) no-repeat 6px 7px, linear-gradient(top, $lightShade-6, $lightShade-8);

  &.search:focus {
    border-style: solid;
    border-color: $darkShade-4;
    color: darken($txtLight, 23);
    @include box-shadow(0 0 0 3px $mainShade);
    //TODO: Composite background mixins
    background: url($search-ico) no-repeat 4px 6px, -moz-linear-gradient(top, $lightShade-6, $lightShade-8) ;
    background: url($search-ico) no-repeat 4px 6px, -webkit-gradient(linear, left top, left bottom, color-stop(0.00, $lightShade-6), color-stop(1.0, $lightShade-8));
    background: url($search-ico) no-repeat 4px 6px, -webkit-linear-gradient($lightShade-6, $lightShade-8);
    background: url($search-ico) no-repeat 4px 6px, linear-gradient(top, $lightShade-6, $lightShade-8);
  }
}

.voice-search .search-divider {
  border-style: solid;
  border-color: $mainShade;
  background: $lightShade-3;
}

.voice-search > ul > li > .map-btn,
.voice-search > ul > li > .map-active{
  background: url($voice-map-sprite) no-repeat;
}

.voice-search > ul > li > .map-btn {
  background-position: 0% 0%;

  &:hover{
    background-position: 0% -31px;
  }
}

.voice-search > ul > li > .map-active {
  background-position: 0% -62px;

  &:hover{
    background-position: left -93px;
  }
}

/*****************************/
/* SIDEBAR SCROLL VOICE AREA */
/*****************************/

.scroller > .voice-sec {
  background:url($voice-sec) repeat-x;
  border-style:solid;
  border-color: $lightShade-6 transparent $lightShade-2;
  color: darken($txtLight, 38.5);
  @include opacity(1);
}

.scroller > .voice-sec > h2 {
  color: darken($txtLight, 38.5);
}

.scroller > .voice-sec > span {
  background:url($side-arrows) no-repeat;
  background-position: 2px 3px;
  cursor: pointer;
}

.down-arrow {
  background-position: 2px -5px!important;
}

.scroller > ul > .select,
.scroller > ul > .select:hover {
  background: url($select-voice) repeat;
}

.scroller > ul > .select a {
  color: darken($txtLight, 1);
  border-style: solid;
}

@each $color in $tColors {

  .scroller > ul > .select.#{nth($color, 1)} a{
    background: url(/assets/icons/#{nth($color, 1)}_chat.png) no-repeat;
    background-position: 10px 15px;
  }

}

.scroller > ul > li:hover {
  background: url($hover-list) repeat;
}

.scroller > ul > li a {
  color: darken($txtLight, 71);
  border-style: dotted;
  border-color: $lightShade-2;
  background: url($chat-icon) no-repeat;
  background-position: 10px 15px;
}

@each $color in $tColors {

  .scroller > ul > .#{nth($color, 1)} a:hover{
    background: url(/assets/icons/#{nth($color, 1)}_chat.png) no-repeat;
    background-position: 10px 15px;
  }

}

.scroller > ul > li a:hover {
  text-decoration: none;
}

.scroller,.scroller > ul {
  background: url($scroller-area) repeat-y;
}

.scroller > .voice-all > li a {
  color: darken($txtLight, 23);
}

.tab-controller {
  background: url($tab-controller) no-repeat;
  background-position: 100% 0;

  &:hover{
    background-position: 0 0;
  }
}

.close-control {
  background: url($tab_controller) no-repeat;
  background-position: 100% 100%;

  &:hover{
    background-position: 0 100%;
  }
}


/************************************/
/* SIDEBAR CUSTOM SCROLL VOICE AREA */
/************************************/

.voice-sec {
  cursor: pointer;
  background: url($voice-sec) repeat-x;
  border-style: solid;
  border-color: $lightShade-6 transparent $lightShade-2;
  color: darken($txtLight, 38.5);
  @include opacity(1);

  &:hover{
    background-position: 0px -23px;
  }
}

.voice-sec > h2 {
  color: darken($txtLight, 38.5);
}
.voice-sec > span {
  background: url($side-arrows) no-repeat;
  background-position: 2px 3px;
  cursor: pointer;
}
.down-arrow {
  background-position: 2px -5px !important;
}
.scroller .voice-#{$scTk} > .select,
.scroller .voice-#{$scTk} > .select:hover {
  background: url($scTk-select) repeat;
  text-shadow: 1px 1px 1px rgba($tBlk, .4);
}


.scroller ul {

  > .select {
      background: url($select-voice) repeat;

      a {
        color: darken($txtLight, 1);
        border-style: solid
      }

      &:hover{
        background: url($select-voice) repeat;
      }

      @each $color in $tColors {

      &.#{nth($color, 1)} {
        background: url('/assets/bg/select_color_#{nth($color, 1)}.png') top right repeat-y,
                    url('/assets/bg/select-voice.png') repeat;

        a {
          background: url('/assets/icons/#{nth($color, 1)}_chat.png') no-repeat; background-position: 11px 16px;
        }
      }

      }
  } //> .select

  > li{
      a {
        color: darken($txtLight, 71);
        border-style: dotted;
        border-color: $lightShade-2;
        background: url($chat-icon) no-repeat;
        background-position: 10px 15px;

        &:hover{
          text-decoration:none;
        }
      }

      &:hover {
        background: url($hover-list) repeat;
      }
  }// > li

  @each $color in $tColors {

  > .#{nth($color, 1)} a:hover {
    background: url('/assets/icons/#{nth($color, 1)}_chat.png') no-repeat;
    background-position: 11px 16px;
  }

  }

} //.scroller ul

.scroller .voice-#{$scTk} {
  > .select a {
    background: url($black-chat) 11px 16px no-repeat !important;
    background-position: 11px 16px;
  }

  > .select.red,
  > .select.orange,
  > .select.blue,
  > .select.yellow,
  > .select.green {
    background: url('/assets/bg/select_color_red.png') top right repeat-y,
                url($scTk-select) repeat;
  }
}

.scroller,
.scroller > ul {
  background: url($scroller-area) repeat-y !important;
}

.jspScrollable > .jspContainer > .jspPane > .voice-all > li a {
  color: $darkShade-4;
}

.tab-controller,
.close-control {
  background: url($tab-controller) no-repeat;
}

.tab-controller {
  background-position: 100% 0;

  &:hover {
    background-position: 0 0;
  }
}

.close-control {
  background-position: 100% 100%;

  &:hover {
    background-position: 0 100%;
  }
}

.clear-search {
  background: url($clear-search) left top no-repeat;

  &:hover {
    background-position: left bottom;
  }
}

/******************/
/* Overlay Styles */
/******************/
.invisible {
  @include opacity(0);
  cursor: text;
}

.arrows > {
  .tooltip-arrow {
    display: none;
  }

  .tooltip-arrow > {
      img {
        border-style: solid;
        border-color: $lightShade-8;
      }
      .over-arrow {
        background: url($over-arrow) no-repeat;
      }
    }

  .left > .over-arrow {background-position: top left}
  .right > .over-arrow {background-position: top right}

  .voice-arrow {background: url($overlaw-arrows) no-repeat}
  .left {background-position: 0px 0px}
  .right {background-position: 0px -64px}
}

.vide-overlay-container .video-container,
.overlay-container > .voice-container {
  background: $lightShade-4;
  border-color: transparent;
  border-style: solid;
  background: url($video-container) repeat 0 0;
  @include box-shadow(0 0 0 3px rgba($tBlk, .2));
}

.vide-overlay-container .video-container {
  @include border-radius(4px);
}

.overlay-container > .voice-container {
  @include border-radius(0 0 4px 4px);
}

.voice-over-info > h2 {
  color: darken($txtLight, 78);
  width: 75%
}
.voice-over-info > .external-link > li {
  border-style: solid;
  border-color: darken($txtLight, 78);
  @include border-radius(4px);

  > a {
    background: $darkShade-2;
    text-decoration: none;
    color: darken($txtLight, 10.5);
    border-style: solid;
    border-color: $darkShade-2 $darkShade-3 $darkShade-2 $darkShade-3;
    font-weight: normal;
    @include border-radius(4px);
    @include linear-gradient($darkShade-2, $darkShade-4, 1);
  }
}

.close-voice-container {
  background: url($close-btn) 0px 0px no-repeat;
}

.voice-container > {
  .voice-coment-zone {
    background: $lightShade-6;
    border-color: $lightShade-1;
    border-style: solid;
  }
  .voice-coment-zone > .show-comment-arrow {
    background: url($comment-arrow) no-repeat;
    background-position: 0 0;
  }
  .share-voice-container > p {
    color: $darkShade-2;
  }
}

.share-voice-container > .actions > {
  .flag-div {
    background: url($divider-dots) 0 0 no-repeat;
  }

  li > {
    a {background: url($box-actions) no-repeat;}
    .facebook         {background-position: 0 0}
    .twitter          {background-position: -24px 0}
    .flag             {background-position: -48px 0}
    .facebook:hover   {background-position: 0 -25px}
    .twitter:hover    {background-position: -24px -25px}
    .flag:hover       {background-position: -48px -25px}
  }
}

.voice-over-info > .comments {
  background: url($comments) no-repeat;
  background-position: 0 0;
}

.voice-over-info > .comments > li {
  color: darken($txtLight, 100);
}

#overlay {
  background: $darkShade-8 url($loader-over) no-repeat scroll center center;
  background-position: 50% 50%;
  @include opacity(.5);
}


/***********************/
/* Overlay Link Styles */
/***********************/

.link-base-container > .back-to-voice {
  background: transparent url($back-voice-bg) top no-repeat;

  > span {
    color: darken($txtLight, 71);
    cursor: pointer;

    &:hover {
      color: darken($txtLight, 38.5);
    }
  }
}

.back-to-voice > ul > {
  .prev {
    border-style: solid;
    border-color: $lightShade-5;
  }
  .next {
    border-style: solid;
    border-color: $mainShade;
  }

  li > {
    a {
      background: url($link-arrows);
    }

    .prev {
      background-position: top left;
      &:hover {
        background-position: bottom left;
      }
    }
    .next {
      background-position: top right;
      &:hover {
        background-position: bottom right;
      }
    }
  }
}

.link-base-border {
  border-style: solid;
  border-color: $darkShade-2;
  @include box-shadow(0 0 3px rgba($tBlk, .5));
}

.link-base-border > .link-base-action {
  border-style: solid;
  border-color: $lightShade-6;
  background: $lightShade-4 url($link-over-bg);

  > ul > li{
    cursor: pointer;

    > div {
      cursor:pointer;
    }

    > a {
      font-family: MuseoSans500;
      background: $darkShade-2;
      text-decoration: none;
      color: darken($txtLight, 10.5);
      border-style: solid;
      border-color: $darkShade-8;
      font-weight: normal;
      @include border-radius (4px);
      @include box-shadow (inset 0 0 0 1px $darkShade-2);
      @include linear-gradient ($darkShade-3, $darkShade-5, 1);

      &:hover,
      &.clipboard-btn {
        color: darken($txtLight, 1);
        @include box-shadow (inset 0 0 0 2px $darkShade-1);
        @include linear-gradient ($darkShade-2, $darkShade-3, 1);
      }

      &.clipboard-btn {
        cursor:pointer;
      }
    }
  }
}

.link-base-action > .right-action > span {
  color: $darkShade-2
}

.right-action  > {

  .actions > {
    .flag-div {
      background: url($divider-dots) 0 0 no-repeat;
    }

    li > {
      a {background: url($box-actions) no-repeat;}
      .facebook            {background-position:   0 0}
      .twitter             {background-position: -24px 0}
      .flag                {background-position: -48px 0}
      .flag-pressed        {background-position: -73px 0}
      .flag-over           {background-position: -48px -25px}
      .facebook:hover      {background-position: 0 -25px}
      .twitter:hover       {background-position: -24px -25px}
      .flag:hover          {background-position: -48px -25px}
      .flag-pressed:hover  {background-position: -73px -24px}
    }
  }

  .comments {
    background: url($comments) 0 0 no-repeat;
    &:hover {
      background-position: left bottom;
    }

    > li{
      color: darken($txtLight, 100);
    }
  }

}
.flag-pressed        {background-position: -73px 0px}
.flag-over           {background-position: -48px -25px}

.link-base-container > .comment-zone-border {
  border-style: solid;
  border-color: $darkShade-2;
  @include box-shadow (0 0 3px rgba($tBlk, .5));

  > .voice-coment-zone {
    border-style: solid;
    border-color: $lightShade-6;
    background: $lightShade-8 url($link-over-bg) repeat-x;
  }
}


/*******************/
/* Messages Styles */
/*******************/

.flash-message {
  background: $lightShade-8;
  @include border-radius (4px);
  @include box-shadow (0 1px 5px 0 $darkShade-8);
}
.message {
  background: $msgBknd1;
  border-color: $msgBord;
  border-style: solid;
  @include border-radius (4px);
  @include linear-gradient ($msgBknd1, $msgBknd2, 1);

  p {
    color: $msgColor;

    a {
      color: $msgColor;
    }
  }
}

.close-message {
  background: url($close-notification) 0px 0px no-repeat;

  &:hover {
    background-position: 0 -22px;
  }
}

/******************/
/* loading wrapper*/
/******************/

.updating-wrapper {
  background-color: rgba($tBlk, .6);
  @include background-size (100% auto);
}
.image-bg-patter {
  background: transparent url($load-pattern) repeat;
}
.spinner {
  background: $mainShade url($more-noise) 100% 100% repeat-x;
  color: darken($txtLight, 100);
  text-shadow: 0 1px 0 $lightShade-3;
  border-color: $darkShade-4;
  @include box-shadow (0 0 10px $darkShade-8);
}
/********************/
/* Home Page Styles */
/********************/

.home-slider {
  background-color: rgba($tBlk, .6);

  .feature-voice {
    background-position: center;
    @include background-size (cover);

    .bg-pattern {
      background: url($slider-ptr) 0 0 repeat;
    }
    .caption {
      background: rgba($tBlk, .7);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2000000', EndColorStr='#B2000000'); /* IE6–IE9 */

      h2,
      h2 a,
      h2 a:hover,
      p,
      p:hover {color: darken($txtLight, 1);}

      h2 a:hover {text-decoration: none;}
    }
  }
}

@each $color in $tColors {

  .#{nth($color, 1)} .caption p a {
    color: nth($color, 3) !important;
  }

}

/********************/
/*  arrow colors    */
/********************/

.feature-voice .caption p > a > .arrow {
  border-style: solid none solid solid;
}

@each $color in $tColors {

  .#{nth($color, 1)} .caption p > a > .arrow {
    border-color: transparent transparent transparent nth($color, 4);
  }

}


.slider-paginate {
  border-color: $darkShade-5 transparent $darkShade-8;
  background: url($slider-pag-bg) 0 0 repeat-x;
}

.paginate-menu li {
  background: url($slider-sprite) 0 0 repeat-x;
  cursor: pointer;
  text-indent: -999px;

  &.active {
    background-position: bottom;
  }
}

.current-voice-bar {
  background-color: $lightShade-2;
  //TODO
  -webkit-box-shadow: inset 0 1px 0 0 $lightShade-4,  0 1px 3px 0 rgba($tBlk, .3);
     -moz-box-shadow: inset 0 1px 0 0 $lightShade-4,  0 1px 3px 0 rgba($tBlk, .3);
          box-shadow: inset 0 1px 0 0 $lightShade-4,  0 1px 3px 0 rgba($tBlk, .3);
  @include linear-gradient ($lightShade-2, $lightShade-1, 1);
}

.current-voice-notice {
  background: url($current-voice) 0 0 no-repeat;
}

.current-voice-notice p {
  color: darken($txtLight, 78);
}

.current-voices-container .current-voice-box,
.current-voices-container .current-voice-box:hover {
  @include box-shadow (0 0 4px 0 rgba($tBlk, .5));
}

.current-voices-container .current-voice-box {
  background-color: $darkShade-7;
  @include linear-gradient ($darkShade-6, $darkShade-7, 1);
}

.current-voices-container .current-voice-box:hover {
  background-color: $darkShade-6;
}

.current-voice-box {
  background: $lightShade-5;
  cursor: pointer;
  @include box-shadow (0 1px 3px rgba($tBlk, .4));

  &:hover {
    background: $lightShade-8;
    cursor: pointer;
    text-decoration: none;
    @include box-shadow (0 1px 3px rgba($tBlk, .7));
  }
}

.current-voices-container a:hover {
  text-decoration: none;
}

.current-info h2 {
  color: darken($txtLight, 1);
  background: rgba($tBlk, .7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#B2000000', EndColorStr='#B2000000');
}

/* Icons Sprite */
.icons {
  background-color: transparent;
  background-image: url($icons);
  background-repeat: no-repeat;

   /* Icons width */
  &.latest       {width: 51px; height: 20px}
  &.video-ico    {width: 14px; height: 10px}
  &.photo-ico    {width: 15px; height: 12px}
  &.link-ico     {width: 14px; height: 10px}
  &.photo-count  {width: 14px; height: 11px}
  &.link-count,
  &.video-count  {width: 13px; height: 9px}

  /* Icons position */
  &.latest       {background-position: 0 0}
  &.video-count  {background-position: -60px 0}
  &.photo-count  {background-position: -60px -20px}
  &.link-count   {background-position: -60px -40px}
  &.video-ico    {background-position: -80px 0}
  &.photo-ico    {background-position: -80px -20px}
  &.link-ico     {background-position: -80px -40px}
}

/* Tooltip count */
.voices-count,
.voices-count .voices-count-right,
.voices-count .voices-numbers {
  background-color: transparent;
  background-image: url($tooltip-count);
  background-repeat: no-repeat;
}

.voices-count {
  background-position: 0 0;
}
.voices-count .voices-count-right {
  background-position: 100% -50px;
}
.voices-count .voices-numbers {
  color: darken($txtLight, 78);
  text-shadow: 0 1px 0 rgba($tWht, .35);
  background-position: 0 -25px;
  background-repeat: repeat-x;
}

/* Crowd Noise */
.crowd-noise {
  background: transparent url($crowd-noise) repeat 0 0;
}


/* News Ticker */
.news-ticker-holder {
  background-color: $darkShade-4;
  @include box-shadow (inset 0 1px 0 0 $darkShade-6);
  @include linear-gradient ($darkShade-6, $darkShade-7, 1);
}

//TODO
.shader-left {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -webkit-gradient(linear, left top, right top, color-stop(0,rgba(26,26,26,1)), color-stop(75%,rgba(26,26,26,0.6)), color-stop(100%, rgba(26,26,26,0)));
  background: -webkit-linear-gradient(left, rgba(26,26,26,1) 0, rgba(26,26,26,0.6) 75%, rgba(0,0,0,0) 100%);
  background:    -moz-linear-gradient(left, rgba(26,26,26,1) 0, rgba(26,26,26,0.6) 75%, rgba(0,0,0,0) 100%);
  background:     -ms-linear-gradient(left, rgba(26,26,26,1) 0, rgba(26,26,26,0.6) 75%, rgba(0,0,0,0) 100%);
  background:      -o-linear-gradient(left, rgba(26,26,26,1) 0, rgba(26,26,26,0.6) 75%, rgba(0,0,0,0) 100%);
  background:         linear-gradient(left, rgba(26,26,26,1) 0, rgba(26,26,26,0.6) 75%, rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=1 )
}
.shader-right {
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzFhMWExYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(25%,rgba(26,26,26,0.6)), color-stop(100%,rgba(26,26,26,1)));
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0, rgba(26,26,26,0.6) 25%, rgba(26,26,26,1) 100%);
  background:    -moz-linear-gradient(left, rgba(0,0,0,0) 0, rgba(26,26,26,0.6) 25%, rgba(26,26,26,1) 100%);
  background:     -ms-linear-gradient(left, rgba(0,0,0,0) 0, rgba(26,26,26,0.6) 25%, rgba(26,26,26,1) 100%);
  background:      -o-linear-gradient(left, rgba(0,0,0,0) 0, rgba(26,26,26,0.6) 25%, rgba(26,26,26,1) 100%);
  background:         linear-gradient(left, rgba(0,0,0,0) 0, rgba(26,26,26,0.6) 25%, rgba(26,26,26,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=1 )
}

.news-ticker > li {
  background: transparent url($news-ticker-bullet) no-repeat 0 4px;

  > a {
    color: $lightShade-1;
    text-shadow: 0 -1px 0 rgba($tBlk, .34);

    &:hover{
      color: darken($txtLight, 1);
    }
  }
}

/* Voices Listing */

/* Voices Types: Featured, normal-voice and without image */
.voice-list {
  background-color: $darkShade-4;
  -webkit-box-shadow: inset 0 -1px 0 0 $darkShade-8, 0 0 4px 0 rgba($tBlk, .5);
     -moz-box-shadow: inset 0 -1px 0 0 $darkShade-8, 0 0 4px 0 rgba($tBlk, .5);
          box-shadow: inset 0 -1px 0 0 $darkShade-8, 0 0 4px 0 rgba($tBlk, .5);
  @include linear-gradient ($darkShade-6, $darkShade-7, 1);

  &:hover {
    background: $darkShade-6 none;
  }
}

.voice-description {
  background-color: rgba($tBlk, .7);

  h2 {
    color: darken($txtLight, 1);
  }

  p {
    color: darken($txtLight, 13);
  }

  .time-ago {
    color: darken($txtLight, 38.5);
  }
}


/* Voices count Tooltip */
.voice-count-tooltip {
  background-color: $lightShade-3;
  color: darken($txtLight, 100);
  text-shadow: 0 1px 0 rgba($tWht, .5);
  @include box-shadow (inset 0 0 0 1px rgba($tWht, .24));
  @include linear-gradient ($lightShade-4, $lightShade-1, 1);
}


.voice-count-tooltip > .arrow,
.voice-count-tooltip > .arrow > span {
  border-style: solid none solid solid;
  border-color: transparent transparent transparent $lightShade-1;
}

.corner-all2 {
  @include border-radius (2px);
}
