//Theme colors
//note: many default colors are green ones
$lGreen: #8ed988;
$nGreen: #5dc954;
$dGreen: #55b74c;
$green: ($dGreen, $nGreen, $lGreen);

$lBlue: #68a1c3;
$nBlue: #2778a9;
$dBlue: #1f6995;
$blue: ($dBlue, $nBlue, $lBlue);

$lRed: #ef5d6b;
$nRed: #e8172b;
$dRed: #d11325;
$red: ($dRed, $nRed, $lRed);

$lYellow: #e8d25a;
$nYellow: #dcbc11;
$dYellow: #c4a70b;
$yellow: ($dYellow, $nYellow, $lYellow);

$lOrange: #eb9f5c;
$nOrange: #e27615;
$dOrange: #ce6b13;
$orange: ($dOrange, $nOrange, $lOrange);

$lWhite: #f3f3f3;
$nWhite: #d5d5d5;
$dWhite: #bcbcbc;
$white: ($dWhite, $nWhite, $lWhite);

//add or remove your color from the list
$colors: ($green, $blue, $red, $yellow, $orange, $white);
$colorNames: ('green', 'blue', 'red', 'yellow', 'orange', 'white');

//note: the folowing colors are for darker versions of the above ones
//they are kind of 'special cases' for each color, you can leave them as is
//unless you really need to tweak really further. They are used on buttons
//and border details

//darker variations theme colors (d_)
$d_lGreen: darken(desaturate($lGreen,21),26);
$d_nGreen: darken(desaturate($nGreen,1),24);
$d_dGreen: darken(saturate($dGreen,5),30);
//d_lGreen:#51904c
//d_nGreen:#2e7b28
//d_dGreen:#204e1c


//Theme 
//*******************
//Text colors:
//*******************
//These are the very basic colors from all the text colors are
//created. These will work in most cases, but you still can
//customize the specific cases in the 'skin.scss' file
$txtLight: #EEEEEE;
$txtDark: #111111;

//****************************************************
//Site Colors (only tweak these if you really have to)
//****************************************************

/* Origianl Crowdvoice color variables */
/* used for box/text shadows, borders...*/
$twht: rgba(255,255,255,0); //trasnparent white
$tblk: rgba(0,0,0,0);//trasnparent black
$nWhite: #FFFFFF;
$nBlack: #000000;

$lGrey: #e2e2e2;
$nGray: #333333;
$tGrey: #4c4c4c;



