<% stylesheet 'layout/admin' %>
<% stylesheet 'skin/admin' %>

<div class="login-box">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash#{name}" %>
  <% end %>

  <div class="main-content">
    <header class='form'>
      <ul class="action-buttons clearfix fr">
        <li><span class="help"></span>Forgot Password</li>
      </ul>
      <h2>Reset Password</h2>
    </header>
    <section>
      <%= form_tag reset_password_notify_path, :method=>:post, :format => :json, :class => 'clearfix admin-login-form' do %>
        <p>
          <input type="text" id="username"  class="large" value="" name="email" required="required" placeholder="Email" />
          <button class="large button button-gray fr" type="submit">Send</button>
        </p>
      <% end %>
    </section>
  </div>
</div>