/* Layout */
.static-title {height: 19px; border-width: 1px 0px 1px 0px; margin-top: 3px; padding: 9px 0px 9px 287px; position: relative; z-index: 2; overflow: hidden} /* margin-top: 63px */
.static-title > h2 {font-size: 18px; line-height: 1; float: left; width: 190px}
.static-container {padding: 103px 0px 0px 400px}
.video-container {width: 642px; height: 512px; border-width: 1px; margin:42px 0px 42px 33px; padding: 20px; overflow: hidden}
.video-container > iframe {z-index: 0; position:relative}
.video-container > object {z-index: 0; position:relative}
.about-list {overflow: hidden; width: 690px; padding: 0 30px; margin-bottom: 150px}
.static-sec {width: 665px; border-width: 1px 0px 0px 0px; float: left; padding: 10px 25px 35px 0; position: relative}
.static-sec.cites{border-top-width:0; padding: 60px 0 35px 0; width: 690px}
.short-title,
.long-title {height: 20px; font-size: 16px; line-height: 1}
.long-title-container {height: 20px; display:block}
.long-title {padding-bottom: 12px; border-width:0 0 1px 0}
.short-title {width: 150px; float: left}
.static-sec-text {font-size: 14px; line-height: 22px; width: 515px; float: left}
.cite-slide {width: 726px;  height: 266px; /*Height must be setted trough javascript*/ position: relative; padding-top: 33px; overflow: hidden; z-index:0}
.cite-slide-arrow-container {width:18px; height: 21px; position: relative; top: 50%; z-index:0; cursor: pointer}
.cite-slide-arrow-container.left {float: left}
.cite-slide-arrow-container.right {float: right}
.cite-slide-left-arrow,
.cite-slide-right-arrow {width: 16px; height: 21px; position: absolute; top: -50%; left: 0}
.cite-slide-right-arrow {right: 0; position: absolute; z-index: 20}
.cite-slide-left-arrow {position: absolute; z-index:20px}
.cites-list {float: left; width: 657px;}
.cite-container {float: left; width: 186px; padding-right: 33px; overflow: hidden}
.cite-text {font-size: 13px; line-height: 18px; padding-bottom: 12px}
.cite-author {font-size: 12px}

.welcome {position: fixed; z-index: 10; width: 100%; border-width: 1px 0px 1px 0px; padding: 12px 0px 0 0px; overflow: hidden; min-width: 930px; height: 36px}
.welcome > p {font-size: 13px; font-weight: normal; float:left; margin-left: 20px; padding-right: 18px; padding-top: 5px}
.welcome > p > span {font-weight: bold}
.welcome > p > span > a {}
.welcome > .close-message {float:right; width: 20px; height: 20px; display: block; margin-right: 12px}

.welcome > .actions {float: left}
.welcome > .actions > li {float:left; margin-right: 5px}
.welcome > .actions > li > a {display:block; width: 25px; height: 25px}

.welcome-padding {padding-top: 50px}

.network-links {float: left; overflow: hidden; margin: -3px 0 0 19px}
.network-links li {height: 25px; width:26px; float: left; display: block; margin-right: 4px}
.network-links li a {height: 25px; width:26px; display: block}
